{% extends 'base_back.html.twig' %}

{% block title %}Voyage{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h1>Modification</h1>
        <div>
            <a class="btn btn-primary-express" href="{{ path('admin_line_train_index') }}">Retour</a>
        </div>
    </div>

    {% if errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in errors %}
            <li>{{ error }}</li>
        {%  endfor %}
    </div>
    {% endif %}

    {% if success %}
    <div class="alert alert-success" role="alert">
        {% for succ in success %}
            <li>{{ succ }}</li>
        {%  endfor %}
    </div>
    {% endif %}


    {{ include('Back/line_train/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
