{% extends 'base_back.html.twig' %}

{% block title %}Voyage{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h1>Modification</h1>
        <div>
            <a class="btn btn-primary" href="{{ path('admin_line_train_index') }}">Retour</a>
        </div>
    </div>

    {{ include('Back/line_train/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
