{% extends 'base_back.html.twig' %}

{% block title %}Voyage{% endblock %}




{% block body %}
<div>


    <div class='d-flex justify-content-between'>
        <h1 class="f-12">Créer un voyage</h1>
        <div>
            <a class="btn btn-primary" href="{{ path('admin_line_train_index') }}">Liste des voyages</a>
        </div> 
    </div>


    <div>
        {{ include('Back/line_train/_form.html.twig') }}
    </div>
</div>


{% endblock %}