{% extends 'base.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block body %}
    <h1>Edit Reservation</h1>

    {{ include('Back/reservation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_reservation_index') }}">back to list</a>

    {{ include('Back/reservation/_delete_form.html.twig') }}
{% endblock %}
