{% extends 'base_back.html.twig' %}

{% block title %}Edit Line{% endblock %}

{% block body %}
    <h1>Modification d'une ligne</h1>

    {{ include('Back/line/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br>
    {{ include('Back/line/_delete_form.html.twig') }}

    <a href="{{ path('admin_line_index') }}">Retour</a>

{% endblock %}
