#updateDepartureStation {
    display: none;
}

#updateDepartureStation:hover {
    cursor: pointer;
}

#updateArrivalStation {
    display: none;
}

#updateArrivalStation:hover {
    cursor: pointer;
}

#map {
    height: 450px;
    width: 100%;
}

.list-stations {
    position: absolute;
    z-index: 5;
}

.mycluster {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #3498db;
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}

.button-price:hover {
    background-color: #eeeaea !important;
    cursor: pointer;
}

#deleteTraveler {
    display: none;
}

#errorModal {
    display: none;
    color: red;
}

#banner {
    width: 100%;
    height: 26em;
}

#container-input {
    margin-top: -13.5em;
}

.orange-color {
    color: #ea5330 !important;
}

.orange-color:hover {
    color: #7f102e !important;
}

.btn-orange {
    background-color: #ea5330 !important;
    color: white !important;
}

.btn-orange:hover {
    background-color: #9e143a;
    color: white;
}

.btn-sncf {
    background-color: #b51742;
    color: white;
}

.btn-sncf:hover {
    background-color: #7f102e;
    color: white;
}

#btn-result {
    display: none;
}
