<form method="post" action="{{ path('app_newsletter_delete', {'id': newsletter.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ newsletter.id) }}">
    <button class="btn btn-primary-express">Supprimer</button>
</form>
