{% extends 'base_back.html.twig' %}

{% block title %}Admin - Newsletter{% endblock %}

{% block body %}
    <h1>Newsletter</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for newsletter in newsletters %}
            <tr>
                <td>{{ newsletter.id }}</td>
                <td>{{ newsletter.message }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary-express" href="{{ path('app_newsletter_new') }}">Créer une nouvelle newsletter</a>
{% endblock %}
