{% extends 'base.html.twig' %}

{% block title %}Lieux !{% endblock %}

{% block body %}

    <h1> Mon lieu n° {{ place.id }}</h1>

    <b> Nom </b>{{ place.name }} <br>
    <b>Ville </b>{{ place.city }} <br>
    <b>Category</b> <br>
    <ul>
        {%  for category in place.categories %}
            <li>{{ category.name}}</li>
        {% endfor %}
    </ul>
{% endblock %}
