{% extends 'base_back.html.twig' %}

{% block title %}Train{% endblock %}

{% block body %}

<div class="p-3">
    <h1>{{ train }}</h1>
    

    {% if errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in errors %}
            <li>{{ error }}</li>
        {%  endfor %}
    </div>
    {% endif %}

    {% if success %}
    <div class="alert alert-success" role="alert">
        {% for succ in success %}
            <li>{{ succ }}</li>
        {%  endfor %}
    </div>
    {% endif %}
<div class="p-4 mt-4 card">
    {{ include('Back/train/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
</div>
{% endblock %}
