{% extends 'base_back.html.twig' %}

{% block title %}Edit Train{% endblock %}

{% block body %}
    <h1>Edit Train</h1>

    {{ include('Back/train/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_train_index') }}">back to list</a>


{% endblock %}
