{% extends 'base_back.html.twig' %}

{% block title %}Train{% endblock %}

{% block body %}

    <h1>{{ train }}</h1>

    {% if errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in errors %}
            <li>{{ error }}</li>
        {%  endfor %}
    </div>
    {% endif %}

    {{ include('Back/train/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
