{% extends 'base_back.html.twig' %}

{% block title %}Train{% endblock %}

{% block body %}

    <div class='d-flex justify-content-between'>    
        <h1 class="f-12">Créer un train</h1>
        <div>
            <a class="btn btn-primary-express" href="{{ path('admin_train_index') }}">Liste des trains</a>
        </div> 
    </div>

    {% if errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in errors %}
            <li>{{ error }}</li>
        {%  endfor %}
    </div>
    {% endif %}

    {% if success %}
    <div class="alert alert-success" role="alert">
        {% for succ in success %}
            <li>{{ succ }}</li>
        {%  endfor %}
    </div>
    {% endif %}
    

    {{ include('Back/train/_form.html.twig') }}


{% endblock %}
