<form method="post" action="{{ path('shopping_delete', {'id': travel[2]}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce voyage ?');">
    <input type="hidden" name="id" value="{{ travel[2] }}">
    <button class="btn btn-sncf">Supprimer</button>
</form>
