<form method="post" action="{{ path('shopping_delete', {'id': travel[2]}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="id" value="{{ travel[2] }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
