{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-end">
        <button class="btn btn-secondary">{{ button_label|default('Rechercher') }}</button>
    </div>
{{ form_end(form) }}
