{% extends 'base_home.html.twig' %}

{% block title %}ERROR{% endblock %}

{% block stylesheets %}
    <style>
        footer {
            bottom: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <p>ERROR, IL n'y a plus assez de place dans le train... Réessayer plus tard</p>
{% endblock %}