{% extends 'base_home.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .mycluster {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #3498db;
        color: white;
        text-align: center;
        font-size: 20px;
        line-height: 40px;
        margin-top: -20px;
        margin-left: -20px;
    }
</style>


    <input type="text" id="departureStationSearch" placeholder="Gare de départ">
    <input type="text" id="arrivalStationSearch" placeholder="Gare d'arrivée">
    {{ include('Front/home/_form.html.twig') }}


    <div id="departureStation"></div>
    <i class="fas fa-edit" id="updateDepartureStation"></i>

    <div id="arrivalStation"></div>
    <i class="fas fa-edit" id="updateArrivalStation"></i>

    <div id="listStationsDeparture"></div>
    <div id="listStationsArrival"></div>

{% if travels %}

{% endif %}
    <div id="map" style="height: 500px; width: 1000px"></div>


    <script>
        const linkAsset = "{{ asset('img/') }}"
    </script>
    <script src="{{ asset('js/home.js') }}"></script>

{% endblock %}
