{% extends 'base_back.html.twig' %}

{% block title %}PA EXPRESS{% endblock %}

{% block body %}
    <h1>Modification de l'utilisateur</h1>

    {{ include('Back/user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
