{% extends 'base_back.html.twig' %}

{% block title %}PA EXPRESS{% endblock %}

{% block body %}
    <h1>Changement du statut</h1>

    {{ include('Back/user/edit_status.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}
