{% extends 'base_back.html.twig' %}

{% block title %}User - status{% endblock %}

{% block body %}
    <h1>Change status</h1>

    {{ include('Back/user/edit_status_chatbot.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_user_index') }}">back to list</a>

{% endblock %}
