{% extends 'base_back.html.twig' %}

{% block title %}PA EXPRESS{% endblock %}

{% block body %}
    <h1>Nouvel utilisateur</h1>
    {% for message in app.flashes('green') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {{ include('Back/user/_form.html.twig') }}
{% endblock %}
