{% extends 'base_back.html.twig' %}

{% block title %}PA Express - Wagon{% endblock %}


{% block body %}
    <div class='d-flex justify-content-between'>    
        <h1 class="f-12">Nouveau wagon</h1>
        <div>
            <a class="btn btn-primary" href="{{ path('admin_train_index') }}">Retour</a>
        </div> 
    </div>

    {% for error in errors %}
        {{ error }}
    {%  endfor %}
    {{ include('Back/wagon/_form.html.twig') }}

  
{% endblock %}
