{% extends 'base_back.html.twig' %}

{% block title %}Chatbot Messages{% endblock %}

{% block body %}
    <h1>Envoyer un message</h1>

    {{ include('Back/chatbot_messages/_form.html.twig') }}

    <a  href="{{ path('app_chatbot_index') }}">Retourner dans la liste</a>
{% endblock %}
