<form method="post" action="{{ path('delete_booking', {'id': booking.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette ligne ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <button class="btn btn-danger">Annuler</button>
</form>
