{% extends 'base_home.html.twig' %}

{% block title %}PA EXPRESS{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mb-3">Scanneur de billet</h1>

        <div class="row border shadow-sm rounded p-3 mb-4 bg-white">
            <div class="col-sm-12 d-flex flex-column justify-content-center">
                <button id="start-button" class="btn btn-primary">Lancer le scan</button>

                <video id="qr-video"></video>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/qrCode/qr-scanner.umd.min.js') }}"></script>


    <script type="text/javascript">
        const video = document.getElementById('qr-video');

        function setResult(result) {
            console.log(result.data);
            scanner.stop();
            document.getElementById('start-button').style.display = 'block';
        }


        const scanner = new QrScanner(video, result => setResult(result), {
            onDecodeError: error => {

            },
            highlightScanRegion: true,
            highlightCodeOutline: true,
        });


        document.getElementById('start-button').addEventListener('click', () => {
            document.getElementById('start-button').style.display = 'none';
            scanner.start();
        });
    </script>
{% endblock %}
