{% extends 'base_home.html.twig' %}

{% block title %}PA EXPRESS{% endblock %}

{% block stylesheets %}
    <style>
        #qr-video {
            width: 100%;
            height: 100%;
        }

        footer {
            bottom: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container pt-4">
        <h1 class="text-center mb-3">Scanneur de billet</h1>

        <div class="d-flex justify-content-center">
            <button id="start-button" class="btn btn-primary">Lancer le scan</button>
        </div>

        <div id="container-ticket" class="d-flex flex-column align-items-center mt-5"></div>

        <div class="row border shadow-sm rounded p-3 mb-4 bg-white d-none">
            <div class="col-sm-12 d-flex flex-column justify-content-center">
                <video id="qr-video"></video>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/qrCode/qr-scanner.umd.min.js') }}"></script>
    <script src="{{ asset('js/qrCodeScanner.js') }}"></script>
{% endblock %}
