<h1>{{ username }},</h1>

{% if status == 0 %}
<p>Your account has been closed because you did not comply with the general rules of use. If you want to dispute this closure, you can contact support.</p> 
{% else %}
<p>Your account {{ username }} has been validated by the administrator.</p>
{% endif %}
