<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %}PA EXPRESS{% endblock %}</title>
    <!-- Compiled and minified CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css"
          integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"
            integrity="sha256-XCdgoNaBjzkUaEJiauEq+85q/xi/2D4NcB3ZHwAapoM=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/edb156fae0.js" crossorigin="anonymous"></script>

    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}


    <style>
        body {
            background-color: #f2f3f7;
            font-family: 'Nunito', sans-serif;
        }

        @media (min-width: 991.98px) {
            main {
                padding-left: 240px;
            }
        }

        /* Sidebar */

        #sidebarMenu a {
            color: #5d8bff;
        }

        #main-navbar{
            border-bottom:1px solid #5d8bff;
        }

        #sidebarMenu a:hover {
            background-color: #5d8bff;
            border-radius: 5px;
            color: white;
        }

        #sidebarMenu a {
            border: none;
        }

        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            padding: 58px 0 0; /* Height of navbar */

            width: 240px;
            z-index: 600;
        }

        @media (max-width: 991.98px) {
            .sidebar {
                width: 100%;
            }
        }

        .sidebar .active {
            border-radius: 5px;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        }

        .btn-primary-express, .btn-primary-express:hover {
            border-radius: 5px !important;
            background-color: #5d8bff;
            color: white;
            border: 0px;
        }

        .sidebar-sticky {
            position: relative;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: 0.5rem;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        }
    </style>

</head>
<body>
<header>
    <!-- Sidebar -->
    <nav
            id="sidebarMenu"
            class="collapse d-lg-block sidebar collapse bg-white"
    >
        <div class="position-sticky">
            <div class="list-group list-group-flush mt-4 mx-3 mt-4">
                
                <a href="/admin/user" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fa-solid fa-user me-3 fa-fw "></i>
                    <span>Utilisateur</span>
                </a>
                <a href="/admin/line" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fa-solid fa-location-dot me-3 fa-fw"></i>
                    <span>Ligne</span>
                </a>
                <a href="/admin/train" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fa-solid fa-train me-3 fa-fw "></i>
                    <span>Train</span>
                </a>

                <a href="/admin/line-train" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fa-solid fa-map-location-dot me-3 fa-fw "></i>
                    <span>Voyage</span>
                </a>

                <a href="/admin/line-train/planning" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fa-solid fa-calendar me-3 fa-fw "></i>
                    <span>Planning</span>
                </a>

                {% if is_granted('ROLE_ADMIN') %}

                    <a href="/admin/booking" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa-solid fa-cart-arrow-down me-3 fa-fw"></i>
                        <span>Réservations</span>
                    </a>

                    <a href="/admin/chatbot" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa-solid fa-message me-3 fa-fw "></i>
                        <span>Messages</span>
                    </a>

                    <a href="/admin/newsletter" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa-solid fa-envelope me-3 fa-fw"></i>
                        <span>Newsletter</span>
                    </a>

                    <a href="/admin/settings" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa-solid fa-gear me-3 fa-fw "></i>
                        <span>Paramètres</span>
                    </a>
                {% endif %}

            </div>
        </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav
            id="main-navbar"
            class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
    >
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button
                    class="navbar-toggler mx-2"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#sidebarMenu"
                    aria-controls="sidebarMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>


            <!-- Brand -->
            <a class="" href="/admin/dashboard">
                <img src="{{ asset('img/logo.png') }}" alt="logo" width="60" height="60">
            </a>


            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">


                <!-- Avatar -->
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <img
                                src="https://picsum.photos/200 "
                                class="rounded-circle"
                                height="22"
                                alt=""
                                loading="lazy"
                        />
                    </a>
                    <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuLink"
                    >
                        <li><a class="dropdown-item" href="#">Profil</a></li>
                        <li><a class="dropdown-item" href="/logout">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->

<main style="margin-top: 58px">
    <div class="container pt-5">
        {% block body %}{% endblock %}
    </div>
</main>

{% block javascripts %}
    {# {{ encore_entry_script_tags('app') }} #}
{% endblock %}

<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
</body>
</html>
