<form method="post" action="{{ path('admin_ligne_train_delete', {'id': ligne_train.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne_train.id) }}">
    <button class="btn">Delete</button>
</form>
