<form method="post" action="{{ path('app_chatbot_delete', {'id': chatbot.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chatbot.id) }}">
    <button class="btn btn-primary-express">Supprimer</button>
</form>
