{% extends 'base_back.html.twig' %}

{% block title %}Chatbot - Admin{% endblock %}

{% block body %}
<div class="p-4">
    <h1>Modifier le statut</h1>

    {{ include('Back/chatbot/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

<div>
{% endblock %}
