{%  extends 'base_home.html.twig' %}

{% block title %}Oops error{% endblock %}

{% block body %}
    <h1> Error : {{ status_exception }} {{ statusText_exception }}</h1>

    {% if app.environment != "prod" %}
    <p>{{ message_exception }}</p>
    {% endif %}

    <p>
        <a href="/">return to the homepage</a>
    </p>
{% endblock %}