{%  extends 'base_home.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block stylesheets %}
    <style>
        footer {
            bottom: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                <a href="/"><button class="btn btn-lg btn-primary">Revenir sur le site</button></a>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center flex-column justify-content-center">
                <img src="{{ asset('img/worker.png') }}" alt="error404" width="500px">
                <h2 class="mt-5 fs-1">ERROR 404</h2>
            </div>
        </div>
    </div>
{% endblock %}